/* This is where styles are defined for your page. */
/* One style is provided as example. */

body {
	background: lightgray;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: cursive;
}

header.page-header {
	background-image: url('images/hiking-the-sand-dunes.jpg');
	padding: 1rem;
}

.page-header h1 {
	margin-bottom: 0;
}

.page-header p {
	margin-top: 0;
}

.page-header small {
	font-size: medium;
}

.more-info img {
	width: 150px;
	height: auto;
}

.social-links {
	list-style-type: none;
}

.poem li::first-letter {
	font-weight: bold;
	font-size: 130%;
}

.poem {
	color: darkmagenta;
}

.poem {
	padding: 5rem;
	margin-bottom: 0;
	list-style-type: none;
}

.poem li {
	font-size: large;
	line-height: 1.8;
}

.page-footer {
	border: solid 1px black;
	background-image: url('images/hiking-the-sand-dunes.jpg');
}